{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Content</th>
                <th>CreateAt</th>
                <th>ModifiedAt</th>
                <th>PublishedAt</th>
                <th>Picture</th>
                <th>Valid</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.subtitle }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createAt ? article.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.modifiedAt ? article.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.publishedAt ? article.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.picture }}</td>
                <td>{{ article.valid ? 'Yes' : 'No' }}</td>
                <td>{{ article.slug }}</td>
                <td>
                    <a href="{{ path('admin_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('admin_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_article_new') }}">Create new</a>
{% endblock %}
